@page "/students"
@using System.Net.Http.Json
@inject HttpClient httpClient
@inject IStudentService studentService
@inject NavigationManager navigationManager

<PageTitle>Studenten</PageTitle>

<MudTable @ref="_table" Items="@studentService.Students" Hover="true" Loading="@_loading" LoadingProgressColor="Color.Primary" Filter="new Func<StudentModel, bool>(FilterFunc1)" @bind-SelectedItem="selectedStudent" >
    <ToolBarContent>
        <MudText Typo="Typo.h5">Studenten</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Zoeken" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Klas 2022-2023</MudTh>
        <MudTh>Voornaam</MudTh>
        <MudTh>Familienaam</MudTh>
        <MudTh>Geboortedatum</MudTh>
        <MudTh>Telefoon 1</MudTh>
        <MudTh>Alleen naar huis?</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ClassLevel">@context.ClassLevel.GetDisplayName()</MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="BirthDate">@(context.BirthDate != null ? context.BirthDate.Value.ToString("dd-MM-yyyy") : "")</MudTd>
        <MudTd DataLabel="Phone_1">@context.Phone_1</MudTd>
        <MudTd DataLabel="HomeAlone">@(context.HomeAlone ? "Ja" : "Nee")</MudTd>
        <MudTd>
            <MudIconButton OnClick="(() => ShowStudent(context.Id))" Icon="@Icons.Material.Filled.Edit" Color="@Color.Primary" Variant="@Variant.Filled"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
            <MudDivider DividerType="DividerType.FullWidth" Class="my-6" />
            <div class="d-flex flex-column align-center">
                <MudPagination SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="pa-4" />
            </div>
    </PagerContent>
</MudTable>


@code {
    private MudTable<StudentModel> _table;
    private bool _loading = true;
    private string searchString1 = "";
    private StudentModel? selectedStudent = null;

    private HashSet<StudentModel> selectedStudents = new HashSet<StudentModel>();

    private bool FilterFunc1(StudentModel student) => FilterFunc(student, searchString1);

    private bool FilterFunc(StudentModel student, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (student.ClassLevel.GetDisplayName()!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (student.FirstName!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (student.LastName!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    protected override async Task OnInitializedAsync()
    {
        await studentService.GetStudents();
        _loading = false;
    }

    void ShowStudent(int id)
    {
        navigationManager.NavigateTo($"student/{id}");
    }

    void CreateNewStudent()
    {
        navigationManager.NavigateTo($"student");
    }

    private void PageChanged(int i)
    {
        _table.NavigateTo(i - 1);
    }
}
